@keyframes heart-fill {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(100%);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(45deg);
  }
  15% {
    transform: rotate(-45deg);
  }
  20% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-anim {
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  animation-name: fade-anim;
}

.delay-1 {
  animation-delay: 600ms;
}

.delay-2 {
  animation-delay: 800ms;
}

.delay-3 {
  animation-delay: 1000ms;
}

.title h1 {
  font-family: "shrikhand";
  font-weight: 500;
}

.restaurant-menu > img {
  width: 100%;
  height: 242px;
  object-fit: cover;
}
@media only screen and (min-width: 1224px) {
  .restaurant-menu > img {
    height: 260px;
  }
}
.restaurant-menu .container {
  padding: 34px 20px;
  background-color: #f6f6f6;
  border-radius: 40px;
  margin-top: -50px;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 1224px) {
  .restaurant-menu .container {
    background-color: white;
    max-width: 1224px;
    margin: auto;
  }
}
.restaurant-menu .clr-txt-small {
  color: #353535;
  font-weight: 400;
}
.restaurant-menu .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurant-menu .card {
  display: flex;
}
@media only screen and (min-width: 1224px) {
  .restaurant-menu .card {
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.09);
  }
}
.restaurant-menu .card__container {
  margin-top: 38px;
  opacity: 0;
}
.restaurant-menu .card__separator {
  height: 3px;
  background-color: #99E2D0;
  width: 40px;
  margin: 4px 0 10px 0;
}
.restaurant-menu .card__content {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.restaurant-menu .card__content-dish {
  overflow: hidden;
}
.restaurant-menu .card__dish {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 6px;
}
.restaurant-menu .card__content-price {
  margin-top: auto;
}
.restaurant-menu .card__content-price .card__price {
  color: #353535;
  font-weight: 700;
}
.restaurant-menu .card__dish, .restaurant-menu .card__dish-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant-menu .card__checkbox {
  display: flex;
  width: 0px;
  background-color: #99E2D0;
  border-radius: 0 10px 10px 0;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  transition: width 300ms;
}
.restaurant-menu .card__checkbox i {
  opacity: 0;
  transition: transform 300ms;
}
.restaurant-menu .card:hover > .card__checkbox {
  width: 58px;
}
.restaurant-menu .card:hover > .card__checkbox i {
  opacity: 1;
  transform: rotate(1turn);
}
.restaurant-menu .order {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 46px 0;
  opacity: 0;
}
.restaurant-menu .heart-btn {
  width: 32px;
  height: 32px;
  font-size: 32px;
}

/*# sourceMappingURL=restaurant.css.map */
