@import "./variables";
@import "./mixins";
@import "./animations";

html,
body,
h1,
h2 {
    margin: 0;
}

body {
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;

    &:visited {
        color: inherit;
    }
}

.loading-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f6f6f6;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: fade-out;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    pointer-events: none;
}

.loading-spinner {
    font-size: 60px;
    color: $clr-primary;
    animation: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

header {
    position: relative;
    z-index: 1;
    height: 64px;
    padding: 0 22px;
    box-shadow: 0px 5px 5px rgba($color: black, $alpha: 0.12);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__side {
        flex: 1;
    }
}

.brand-font {
    font-family: 'shrikhand';
}

.bg--grey {
    background-color: #eaeaea;
}

.location-section {
    line-height: 48px;
    text-align: center;
    color: #353535;

    .location {
        margin: 0 14px;
        font-weight: 500;
    }
}

.explore-section {
    padding: 45px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;

    span {
        margin: 15px 0 30px 0;
        color: #4d4d4d;
        font-weight: 300;
        font-size: 18px;
    }
}

button {
    min-width: 180px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0 4px 6px 2px rgba($color: black, $alpha: 0.12);
    border: none;
    background: linear-gradient(175deg, $clr-secondary 0%, $clr-primary 100%);
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 0 20px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(175deg,
                lighten($clr-secondary, 5%) 0%,
                lighten($clr-primary, 5%) 100%);
        box-shadow: 0 4px 6px 2px rgba($color: black, $alpha: 0.37);
    }
}

.steps-section,
.restaurants-section {
    padding: 60px 20px;
}

.steps-container {
    margin: 30px 0 0 0;

    @include desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.section-inner {
    @include desktop {
        max-width: 1224px;
        margin: auto;
    }
}

.step-arrow {
    display: none;

    @include desktop {
        display: initial;
        padding: 0 40px;
    }
}

.step {
    display: flex;
    height: 75px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgba($color: black, $alpha: 0.12);
    align-items: center;
    margin-bottom: 25px;
    position: relative;
    margin-left: 13px;
    padding: 0 35px;
    background: #f6f6f6;

    @include desktop {
        margin-bottom: 0;
        flex: 1;
    }

    &__badge {
        background-color: $clr-primary;
        width: 25px;
        line-height: 25px;
        border-radius: 13px;
        text-align: center;
        color: white;
        position: absolute;
        left: -13px;
    }

    &__icon {
        margin-right: 28px;
        color: #7e7e7e;
    }

    &__label {
        font-weight: bold;
    }

    &:hover {
        background-color: #f5edff;
    }

    &:hover &__icon {
        color: $clr-primary;
    }
}

.restaurants-section {
    background-color: #f6f6f6;

    .cards-container {
        @include desktop {
            display: grid;
            grid-template-columns: 2fr 2fr;
            gap: 40px;
        }
    }
}


.card {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba($color: black, $alpha: 0.12);
    margin: 16px 0;

    &__link::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__header {
        position: relative;

        img {
            width: 100%;
            height: 174px;
            object-fit: cover;
            border-radius: 10px 10px 0px 0;
        }
    }

    &__new {
        background: $clr-tertiary;
        color: #008766;
        position: absolute;
        line-height: 30px;
        width: 80px;
        text-align: center;
        border-radius: 2px;
        right: 12px;
        top: 12px;
        font-weight: 500;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 15px 14px;
    }

    &__title {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 3px;
    }

    &__like-btn {
        position: relative;
        z-index: 10;
        font-size: 22px;
        width: 22px;
        height: 22px;
    }
}

footer {
    background: #353535;
    color: white;
    padding: 25px 25px;

    .brand {
        font-size: 18px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        padding-top: 10px;

        a {
            padding-top: 8px;
            text-decoration: none;
            color: white;
        }

        i {
            font-size: 14px;
            width: 20px;
        }
    }
}

.heart-btn {
    position: relative;
    cursor: pointer;


    &:hover>.fa-solid.fa-heart {
        opacity: 1;
        animation: heart-fill 500ms;
        color: $clr-primary;
    }

    >i {
        position: absolute;
    }

    .fa-regular.fa-heart {
        opacity: 0.80;
    }

    .fa-solid.fa-heart {
        opacity: 0;
    }
}